<!doctype html>
<html lang="en" ng-app="zfmClient">
<head>
    <meta charset="utf-8">
    <title>Z-FILE-MANAGER-PANEL</title>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="libs/stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="libs/stylesheets/premium.css">
    <link rel="stylesheet" type="text/css" href="libs/ngDialog-master/css/ngDialog.css">
    <script src="libs/angular-1.4.1/angular.min.js"></script>
	<script src="libs/angular-1.4.1/angular-sanitize.min.js"></script>
	<script src="libs/ngDialog-master/js/ngDialog.js"></script>
	<script src="zfmclient.js"></script>
</head>
<body class="theme-blue" ng-controller="zfmController">

    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover { 
            color: #fff;
        }
    </style>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
   
  <!--<![endif]-->

    <div class="navbar navbar-default" role="navigation">
    
        <div class="navbar-header">
          <a class="" href="index.html">
            <span class="navbar-brand"><span class="fa fa-paper-plane"></span> Z-FILE-MANAGER-PANEL　</span>
          </a>
        </div>

        <div class="navbar-collapse collapse" style="height: 1px;">
          <ul id="main-menu" class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> unkonw
                    <i class="fa fa-caret-down"></i>
                </a>
            </li>
          </ul>
        </div>
      </div>

    <div class="sidebar-nav">
	    <ul>
		    <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse">
		        <i class="fa fa-fw fa-folder-open"></i> Directories<i class="fa fa-collapse"></i></a></li>
		    <li><ul class="dashboard-menu nav nav-list">
		        <li ng-repeat="dir in dirs" ng-bind-html="dir.alias" ng-click="bmClick(dir.idx);"></li>
		    </ul></li>
	    </ul>
    </div>

	<div class="content">
		<div class="header" style="padding:0px 0 8px 0;margin-bottom:7px;">
            <div style="float:left;margin:0 10px 0 10px;">Current Path:</div>
            <div style="float:left;padding-right:8px;" ng-bind="rlDir"></div>
            <i class="fa fa-road"></i>
		</div>
		<div class="main-content">

			<div class="btn-toolbar list-toolbar">
				<button class="btn btn-primary">
					<i class="fa fa-plus"></i> Upload
				</button>
				<button class="btn btn-default">Donwload</button>
				<button class="btn btn-default">Rename</button>
				<div class="btn-group"></div>
			</div>
			<div>
				<div ng-show="false">
					<div>[TEST ZONE]</div>
					<input type="text" ng-model="rq" placeholder="request keyword">
					<button type="submit" ng-click="ask()">ask</button>
					<br />
					<textarea style="width: 90%; height: 60px; margin-top: 3px;">{{answers}}</textarea>
					<hr>
				</div>
				<div>
					<table class="table" ng-show="list !== undefined">
						<thead>
							<tr>
								<th	ng-repeat="(key, value) in list[0]" ng-bind="key"
									ng-hide="key == 'name' || key == 'type_name'"></th>
								 <th style="width: 3.5em;"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in list">
								<td ng-repeat="(key, value) in row" ng-bind-html="value"
									ng-click="dirClick(value, row);"
									ng-hide="key == 'name' || key == 'type_name'"></td>
								<td>
								    <a href="#modify"><i class="fa fa-pencil"></i></a>
                                    <a href="#remove"><i class="fa fa-trash-o"></i></a>
                                </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<footer>
				<hr>

				<!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
				<!--  
				<p class="pull-right">
					A <a href="http://www.portnine.com/bootstrap-themes"
						target="_blank">Free Bootstrap Theme</a> by <a
						href="http://www.portnine.com" target="_blank">Portnine</a>
				</p>
				<p>
					© 2014 <a href="http://www.portnine.com" target="_blank">Portnine</a>
				</p>
				-->
				<p class="pull-right">
				    © 2015 ZFM (Themed with © 2014 <a href="http://www.portnine.com" target="_blank">Portnine</a>)
				</p>
			</footer>
		</div>
	</div>

    <script type="text/ng-template" id="ngDialogTemplateConfirm">
    <div class="modal small" tabindex="-1" role="dialog" style="display:block;">
	   <div class="small modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="false">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text">
                        <i class="fa fa-warning modal-icon"></i> Are you sure you want to
                        delete the user?<br>This cannot be undone.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal"
                        aria-hidden="false">Cancel</button>
                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    </script>
    
    <script type="text/ng-template" id="ngDialogTemplateWarning">
    <div class="modal small" tabindex="-1" role="dialog" style="display:block;">
       <div class="small modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="myModalLabel">Forbidden warning</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text">
                        <i class="fa fa-warning modal-icon"></i> It's not allowed to go to the upper folder in this case.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="closeThisDialog(0)">OK</button>
                </div>
            </div>
        </div>
    </div>
    </script>

</body>
</html>
