<!doctype html>
<html lang="en" ng-app="sinClient">
<head>
	<meta charset="utf-8">
	<title>Z-FILE-MANAGER-PANEL</title>
	<link rel="shortcut icon" href="folder-dynamic-premium.ico">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.css">
	<script src="libs/angular-1.4.1/angular.min.js"></script>
    <script src="libs/angular-1.4.1/angular-cookies.min.js"></script>
    <script src="libs/angular-1.4.1/angular-sanitize.min.js"></script>
    <script src="libs/md5.min.js"></script>
    <script src="sign-in.js"></script>
	
</head>
<body ng-controller="sinController">
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
	<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
	<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
	<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!-->

	<!--<![endif]-->

	<nav class="navbar navbar-nav-justified" style="margin-bottom:-12px;">
		<div class="container-fluid" style="background-color: #4d5b76;color:white;">
			<p style="margin:3px 0 3px 0;"><span class="fa fa-paper-plane"></span>
					Z-FILE-MANAGER-PANEL </p>
		</div>
	</nav>

	<div class="container">
		<div class="col-xs-8 col-md-6"
			style="float: none; display: block; margin-left: auto; margin-right: auto;">
			<div class="panel panel-default"
				style="min-width: 230px;">
				<p class="panel-heading">Sign In</p>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label>Username</label> <input type="text"
								class="form-control span12" ng-model="username">
						</div>
						<div class="form-group">
							<label>Password</label> <input type="password"
								class="form-control span12" ng-model="password">
						</div>
						<a href="#" class="btn btn-primary pull-right"
							ng-click="signMeIn()">Sign In</a>
						<!--  
				<label class="remember-me"><input type="checkbox">
					Remember me</label>
				-->
						<p ng-bind-html="result"></p>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<p class="pull-right" style="margin-right:16px;">
		© 2015 ZFM (<a href="http://glyphicons.com/">glyphicons</a>)
	</p>

</body>
</html>
