<div class="modal small" tabindex="-1" style="display: block;">
	<div class="small modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<p style="font-size:12px;font-weight:bold;">Forbidden warning</p>
			</div>
			<div class="modal-body">
				<p class="error-text" style="font-size:12px;">
					<i class="fa fa-warning modal-icon"></i>
					It's not allowed in this case.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal"
					ng-click="closeThisDialog(0)">OK</button>
			</div>
		</div>
	</div>
</div>