<div class="modal" tabindex="-1" role="dialog"
    style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Comfirm</h4>
			</div>
			<div class="modal-body">
				<i class="fa fa-warning modal-icon"></i>
                Are you sure you want to sign out?
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal"
					aria-hidden="false"
					ng-click="closeThisDialog(0)">Cancel</button>
				<button class="btn btn-danger" data-dismiss="modal"
				    ng-click="closeThisDialog(1)">Let me go</button>
			</div>
		</div>
	</div>
</div>